/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
main{
  width:960px;
  margin:50px auto;
}
.list-box{
  padding-bottom:50px;
  list-style:none;
}
.list-box li:nth-child(odd){
  padding:20px 0 20px 20px;
  background-color:#eee;
}
.list-box li:nth-child(even){
  padding:20px 0 20px 20px;
}
.block-box{
  display:flex;
  flex-wrap:wrap;
  list-style:none;
}
.block-box li:nth-child(1){
  width:30%;
  height:200px;
  margin-right:5%;
  background-color:orange;
}
.block-box li:nth-child(2){
  width:30%;
  height:200px;
  margin-right:5%;
  background-color:yellow;
  margin-bottom:40px;
}
.block-box li:nth-child(3){
  width:30%;
  height:200px;
  background-color:yellow;
  margin-bottom:40px;
}
.block-box li:nth-child(4){
  width:30%;
  height:200px;
  margin-right:5%;
  background-color:yellow;
  margin-bottom:40px;
}
.block-box li:nth-child(5){
  width:30%;
  height:200px;
  margin-right:5%;
  background-color:orange;
  margin-bottom:40px;
}
.block-box li:nth-child(6){
  width:30%;
  height:200px;
  background-color:yellow;
  margin-bottom:40px;
}
.block-box li:nth-child(7){
  width:30%;
  height:200px;
  margin-right:5%;
  background-color:yellow;
}
.block-box li:nth-child(8){
  width:30%;
  height:200px;
  margin-right:5%;
  background-color:yellow;
}
.block-box li:nth-child(9){
  width:30%;
  height:200px;
  background-color:orange;
}