* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  
  position: absolute;
}
.header-image{
  height:400px;
  width:100%;
}
header h1{
  top:20px;
  left:20px;
  
}
main{
  /*width:840px;*/
  margin:0 auto;
  padding-top:50px;
  padding-bottom:50px;
}
.compny-detail{
  /*text-align:center;*/
}
footer {
 
}

